.u-section-1 .u-sheet-1 {min-height: 450px}
.u-section-1 .u-text-1 {font-style: italic; margin: 60px auto 0}
.u-section-1 .u-text-2 {margin: 20px auto 0}
.u-section-1 .u-text-3 {margin: 20px auto 0}
.u-section-1 .u-custom-html-1 {min-height: 228px; margin: 30px 570px 0 0}
.u-section-1 .u-text-4 {margin: 30px auto 0 0}
.u-block-a04d-18 {height: 66px; width: 66px; background-image: none; margin: -1096px 1326px 60px -186px}
.u-block-a04d-19 {height: 66px; width: 66px; background-image: none; margin: -1096px 1326px 60px -186px} 

@media (max-width: 1199px){ .u-block-a04d-18 {margin-right: 1193px}
.u-block-a04d-19 {margin-right: 1193px} }

@media (max-width: 991px){ .u-section-1 .u-custom-html-1 {margin-right: 350px}
.u-block-a04d-18 {margin-right: 1017px}
.u-block-a04d-19 {margin-right: 1017px} }

@media (max-width: 767px){ .u-section-1 .u-custom-html-1 {margin-right: 170px}
.u-block-a04d-18 {margin-right: 839px}
.u-block-a04d-19 {margin-right: 839px} }

@media (max-width: 575px){ .u-section-1 .u-custom-html-1 {margin-right: 0}
.u-block-a04d-18 {margin-right: 650px}
.u-block-a04d-19 {margin-right: 650px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {margin: 20px 0 0}
.u-section-2 .u-custom-html-1 {min-height: 228px; margin: 30px 570px 0 0}
.u-section-2 .u-text-2 {margin: 30px 0 60px} 

@media (max-width: 1199px){ .u-section-2 .u-custom-html-1 {width: 570px} }

@media (max-width: 991px){ .u-section-2 .u-custom-html-1 {margin-right: 350px} }

@media (max-width: 767px){ .u-section-2 .u-custom-html-1 {width: 540px; margin-right: 170px} }

@media (max-width: 575px){ .u-section-2 .u-custom-html-1 {width: 340px; margin-right: 0} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-text-1 {margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-section-3 .u-custom-html-1 {min-height: 228px; margin: 30px 570px 0 0}
.u-section-3 .u-text-2 {margin: 30px auto 60px 0} 

@media (max-width: 991px){ .u-section-3 .u-custom-html-1 {margin-right: 350px} }

@media (max-width: 767px){ .u-section-3 .u-custom-html-1 {margin-right: 170px} }

@media (max-width: 575px){ .u-section-3 .u-custom-html-1 {margin-right: 0} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-text-1 {margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-section-4 .u-custom-html-1 {min-height: 228px; margin: 30px 570px 0 0}
.u-section-4 .u-text-2 {margin: 30px auto 60px 0} 

@media (max-width: 991px){ .u-section-4 .u-custom-html-1 {margin-right: 350px} }

@media (max-width: 767px){ .u-section-4 .u-custom-html-1 {margin-right: 170px} }

@media (max-width: 575px){ .u-section-4 .u-custom-html-1 {margin-right: 0} }.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-text-1 {margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-section-5 .u-custom-html-1 {min-height: 228px; margin: 30px 570px 0 0}
.u-section-5 .u-text-2 {margin: 30px auto 60px 0} 

@media (max-width: 991px){ .u-section-5 .u-custom-html-1 {margin-right: 350px} }

@media (max-width: 767px){ .u-section-5 .u-custom-html-1 {margin-right: 170px} }

@media (max-width: 575px){ .u-section-5 .u-custom-html-1 {margin-right: 0} }.u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-text-1 {margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-section-6 .u-custom-html-1 {min-height: 228px; margin: 30px 570px 0 0}
.u-section-6 .u-text-2 {margin: 30px auto 60px 0} 

@media (max-width: 991px){ .u-section-6 .u-custom-html-1 {margin-right: 350px} }

@media (max-width: 767px){ .u-section-6 .u-custom-html-1 {margin-right: 170px} }

@media (max-width: 575px){ .u-section-6 .u-custom-html-1 {margin-right: 0} }.u-section-7 .u-sheet-1 {min-height: 228px}
.u-section-7 .u-text-1 {margin: 20px auto 0}
.u-section-7 .u-text-2 {margin: 20px 0 0}
.u-block-8075-5 {height: 66px; width: 66px; background-image: none; margin: -3955px 1326px 60px -186px} 

@media (max-width: 1199px){ .u-block-8075-5 {margin-right: 1193px} }

@media (max-width: 991px){ .u-block-8075-5 {margin-right: 1017px} }

@media (max-width: 767px){ .u-block-8075-5 {margin-right: 839px} }

@media (max-width: 575px){ .u-block-8075-5 {margin-right: 650px} }.u-section-8 .u-sheet-1 {min-height: 83px}
.u-section-8 .u-btn-1 {border-style: none; background-image: none; font-weight: 700; align-self: center; margin: 21px 0 0 auto; padding: 8px 28px 8px 27px}
.u-section-8 .u-btn-2 {border-style: none; background-image: none; font-weight: 700; margin: -42px auto 21px 0; padding: 8px 28px 8px 27px}